.project-container {
  width: 30%;
  background-color: #4E4E50;
  position: relative;
  display: flex;
  @media (max-width: 800px) {
    width: 90%;
    margin: 20px 0;
  }
}

.project-left {
  color: whitesmoke;
  width: 40%;
}

.project-right {
  padding: 20px;
  color: whitesmoke;
  width: 100%;
}

.proj-title {
  font-family: 'Shadows Into Light', serif;
  font-size: 40px;
}

.proj-description{
  font-family: 'Shadows Into Light', serif;
  font-size: 20px;
}
