
.home-container {
  position: absolute;
  display: flex;
  left: 0%;
  width: 100vw;
  background-image: url("../../assets/img/background.jpg");
  background-size: 100%;
  height: calc(100vh - 54px);
  @media (max-width: 1105px) {
  }
}

.center-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.full-name {
  font-size: 100px;
  text-shadow: 0px 0px 5px #666;
}

.home-page-text-color {
  font-family: 'Shadows Into Light', cursive;
  color: whitesmoke;
}

.evan-slogan {
  font-size: 40px;
}
