
.home-container {
  position: absolute;
  display: flex;
  left: 0%;
  width: 100vw;
  @media (max-width: 1105px) {
    position: fixed;
    overflow: hidden;
    height: 100%;
    width: auto;
  }
}

.center-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}
g
